In [5]:
x=[1,2,3,4]

In [6]:
x.insert(2,6)

In [7]:
x

[1, 2, 6, 3, 4]

In [11]:
del x[2]

In [12]:
x

[1, 2, 3, 4]

In [14]:
del x[::2]

In [16]:
x

[2, 4]

In [ ]:
#create a program to manage the student exam and attendance fo a collage

In [1]:
x =[]

In [3]:
n = int(input("number of students:"))

In [4]:
n

6

In [5]:
for i in range(n):
    v=float(input("enter the mark of students"))
    x.append(v)
x

[12.2, 15.2, 6.0, 7.0, 8.0, 8.0]

In [6]:
n

6

In [7]:
v

8.0

In [2]:
x=[]

In [3]:
n = int(input("number of students:"))

In [4]:
for i in range(n):
    name=input("enter the name of students")
    v=float(input("enter the mark of students"))
    x.append([name,v])

In [5]:
x

[['6', 2.5],
 ['naitik', 2.4],
 ['rishabh', 6.0],
 ['joel', 5.0],
 ['mohar', 8.0],
 ['lokesh', 8.0]]

In [1]:
x='hello@1234'

In [2]:
x[5]

'@'

In [2]:
y='naitik'

In [3]:
y.upper()

'NAITIK'

In [5]:
y

'naitik'

In [6]:
y.upper()

'NAITIK'

In [9]:
z= y+x

In [10]:
z

'naitikhello@1234'

In [5]:
reg={1,2,2,3,4}

In [12]:
reg

{1, 2, 3, 4}

In [13]:
reg.add(5)

In [14]:
reg

{1, 2, 3, 4, 5}

In [6]:
reg.copy()

{1, 2, 3, 4}

In [7]:
reg

{1, 2, 3, 4}

In [8]:
reg.copy()

{1, 2, 3, 4}

In [23]:
reg

{1, 2, 3, 4, 5}

In [27]:
reg.update("hi")

In [28]:
reg

{1, 2, 3, 4, 5, 'h', 'i'}

In [30]:
reg.discard(5)

In [31]:
reg

{1, 2, 3, 4, 'h', 'i'}

In [38]:
reg.remove(2)

In [39]:
reg

{1, 3, 4, 'h', 'i'}

In [42]:
reg.pop()

1

In [43]:
reg

{3, 4, 'h', 'i'}

In [44]:
x={}

In [45]:
x

{}

In [46]:
type(x)

dict

In [47]:
x=set()

In [48]:
type(x)

set

In [49]:
r=set([1,2,3])

In [50]:
r

{1, 2, 3}

In [51]:
type(r)

set

In [52]:
a={}

In [56]:
a={'one':3}  #key valueable first is key and second is value

In [54]:
a

{'one': 3}

In [55]:
a['one']

3

In [57]:
a={'one': 3, 'one':45}

In [58]:
a['one']

45

In [59]:
a={'one_cs':45}

In [66]:
a

['one']

In [82]:
a={'one':3,(12,13):'ECE',12:'Eng Math','cs':[1,2,3,4]}

In [73]:
a

{'one': 3, (12, 13): 'ECE', 12: 'Eng Math', 'cs': [1, 2, 3, 4]}

In [74]:
a['cs']

[1, 2, 3, 4]

In [76]:
a[12]

'Eng Math'

In [83]:
a[(12,13)]

'ECE'

In [84]:
a['new']=30

In [85]:
a

{'one': 3, (12, 13): 'ECE', 12: 'Eng Math', 'cs': [1, 2, 3, 4], 'new': 30}

In [11]:
for i in range(40):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [12]:
for i in range(40):
    if i%2==1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [17]:
for i in range(40):
    if i%2!=0:
        continue
    print( 'this is even number',i)

this is even number 0
this is even number 2
this is even number 4
this is even number 6
this is even number 8
this is even number 10
this is even number 12
this is even number 14
this is even number 16
this is even number 18
this is even number 20
this is even number 22
this is even number 24
this is even number 26
this is even number 28
this is even number 30
this is even number 32
this is even number 34
this is even number 36
this is even number 38

In [18]:
def functionname(parameters):
    #function body 
    return

In [23]:
def addn(num1,num2):
    result=num1+num2
    return result

In [37]:
x=addn(2,3)

In [21]:
def add(num1,num2,num3,num4):
    result=num1+num2+num3+num4
    return result

In [22]:
add(2,3,4,5)

14

In [26]:
addn(23,89)

112

In [27]:
def divd(num1,num2):
    result=num1/num2
    return result

In [28]:
divd(50,25)

2.0

In [29]:
divd(5,2)

2.5

In [30]:
type(divd(5,2))

float

In [32]:
def hello():
    print("hello everyone")

In [34]:
hello()

hello everyone

In [35]:
def hello():
    r="hello everyone"
    return r

In [36]:
hello()

'hello everyone'

In [39]:
x

5

In [47]:
def sumofnum(*number):
    result=0
    for val in number:
        result+=val
    return result

In [48]:
sumofnum()

0

In [49]:
sumofnum(4,6,8,10,15)

43

In [53]:
def hellothere(name):
    print("hello there",name,"!")

In [54]:
hellothere("x,y,z")

hello there x,y,z !

In [55]:
greeting=lambda name:print('hello there',name,"!")

In [56]:
greeting("Naitik")

hello there Naitik !

In [57]:
n=[]

In [59]:
for i in range(1,11):
    c=i**3
    n.append(c)

In [60]:
n

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [61]:
numbers=[n**3 for n in range(1,11)]

In [62]:
numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [63]:
cube=lambda a:a**3

In [64]:
print(cube(5))

125

In [65]:
mul=list(filter(lambda a:(a%4==0),numbers))

In [66]:
mul

[8, 64, 216, 512, 1000]

In [72]:
l=[]
def mulof4(numbers):
    for val in numbers:
        if(val%4==0):
          l.append(val)
        return l

In [73]:
mymul=mulof4(numbers)

In [74]:
mymul

[]